---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=&per_page=1&query=location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"errors":["OAuth error: The access token is invalid"]}'
  recorded_at: Fri, 28 May 2021 18:08:52 GMT
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=PHOTO_API_KEY&per_page=1&query=location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Link:
      - <https://api.unsplash.com/search/photos?client_id=PHOTO_API_KEY&page=987&per_page=1&query=location>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=PHOTO_API_KEY&page=2&per_page=1&query=location>;
        rel="next"
      X-Total:
      - '987'
      X-Per-Page:
      - '1'
      Content-Type:
      - application/json
      Etag:
      - W/"fa9ffb6356852311ebfed03d516e6567"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '49'
    body:
      encoding: ASCII-8BIT
      string: '{"total":987,"total_pages":987,"results":[{"id":"BJXAxQ1L7dI","created_at":"2019-01-24T11:01:41-05:00","updated_at":"2021-05-28T14:09:19-04:00","promoted_at":null,"width":6016,"height":4000,"color":"#c0d9d9","blur_hash":"LTH2vK4n4mbbRiVr%hx]I9x]t7M{","description":"Local
        SEO Google map image I created for a blog post on local marketing. An everyday
        interaction with technology.","alt_description":"person holding black smartphone","urls":{"raw":"https://images.unsplash.com/photo-1548345680-f5475ea5df84?ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1548345680-f5475ea5df84?crop=entropy\u0026cs=srgb\u0026fm=jpg\u0026ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ\u0026ixlib=rb-1.2.1\u0026q=85","regular":"https://images.unsplash.com/photo-1548345680-f5475ea5df84?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1548345680-f5475ea5df84?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1548345680-f5475ea5df84?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200"},"links":{"self":"https://api.unsplash.com/photos/BJXAxQ1L7dI","html":"https://unsplash.com/photos/BJXAxQ1L7dI","download":"https://unsplash.com/photos/BJXAxQ1L7dI/download","download_location":"https://api.unsplash.com/photos/BJXAxQ1L7dI/download?ixid=MnwyMTI4MzN8MHwxfHNlYXJjaHwxfHxsb2NhdGlvbnxlbnwwfHx8fDE2MjIyNDAyMzQ"},"categories":[],"likes":217,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"user":{"id":"dAcQqTLmBPk","updated_at":"2021-05-28T09:21:13-04:00","username":"hjkp","name":"henry
        perks","first_name":"henry","last_name":"perks","twitter_username":"hjkp60","portfolio_url":"https://www.hp-consult.co.uk/images-photography/","bio":"I
        help companies and individuals get their business right online. Photography
        enthusiast enjoying the Unsplash inspiration and making a small contribution.
        Travel, landscapes, architecture, contrast, food, plants and garden all catch
        my eye.","location":"London","links":{"self":"https://api.unsplash.com/users/hjkp","html":"https://unsplash.com/@hjkp","photos":"https://api.unsplash.com/users/hjkp/photos","likes":"https://api.unsplash.com/users/hjkp/likes","portfolio":"https://api.unsplash.com/users/hjkp/portfolio","following":"https://api.unsplash.com/users/hjkp/following","followers":"https://api.unsplash.com/users/hjkp/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1465755447612-04f674ce1eaf?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=32\u0026w=32","medium":"https://images.unsplash.com/profile-1465755447612-04f674ce1eaf?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=64\u0026w=64","large":"https://images.unsplash.com/profile-1465755447612-04f674ce1eaf?ixlib=rb-1.2.1\u0026q=80\u0026fm=jpg\u0026crop=faces\u0026cs=tinysrgb\u0026fit=crop\u0026h=128\u0026w=128"},"instagram_username":"https://www.instagram.com/hjkp60/","total_collections":28,"total_likes":265,"total_photos":132,"accepted_tos":true,"for_hire":true},"tags":[]}]}'
  recorded_at: Fri, 28 May 2021 22:17:20 GMT
recorded_with: VCR 6.0.0
