---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely&lat=41.765775&lon=-72.673356&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.7658,"lon":-72.6734,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1615263275,"sunrise":1615202040,"sunset":1615243744,"temp":33.21,"feels_like":24.85,"pressure":1027,"humidity":38,"dew_point":12.7,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.61,"wind_deg":180,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1615262400,"temp":33.21,"feels_like":25.11,"pressure":1027,"humidity":38,"dew_point":12.7,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.16,"wind_deg":205,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1615266000,"temp":32.72,"feels_like":25,"pressure":1027,"humidity":64,"dew_point":23.05,"uvi":0,"clouds":71,"visibility":10000,"wind_speed":5.17,"wind_deg":204,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04n"}],"pop":0},{"dt":1615269600,"temp":32.31,"feels_like":24.85,"pressure":1027,"humidity":80,"dew_point":27.45,"uvi":0,"clouds":66,"visibility":10000,"wind_speed":5.66,"wind_deg":199,"weather":[{"id":803,"main":"Clouds","description":"broken
    [...]
