---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely&lat=41.765775&lon=-72.673356&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.7658,"lon":-72.6734,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1616182314,"sunrise":1616151320,"sunset":1616194885,"temp":41.2,"feels_like":26.67,"pressure":1025,"humidity":21,"dew_point":7.18,"uvi":1.73,"clouds":20,"visibility":10000,"wind_speed":14.97,"wind_deg":350,"wind_gust":21.85,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1616180400,"temp":41.2,"feels_like":27.91,"pressure":1025,"humidity":21,"dew_point":7.18,"uvi":2.94,"clouds":20,"visibility":10000,"wind_speed":12.75,"wind_deg":12,"wind_gust":23.4,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1616184000,"temp":40.91,"feels_like":28.42,"pressure":1025,"humidity":25,"dew_point":10.4,"uvi":1.73,"clouds":11,"visibility":10000,"wind_speed":11.68,"wind_deg":15,"wind_gust":21.65,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1616187600,"temp":40.55,"feels_like":29.14,"pressure":1025,"humidity":30,"dew_point":13.8,"uvi":0.75,"clouds":5,"visibility":10000,"wind_speed":10.18,"wind_deg":12,"wind_gust":18.63,"weather":[{"id":800,"ma[...]
