---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=&exclude=minutely&lat=41.765775&lon=-72.673356&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"cod":401, "message": "Invalid API key. Please see http://openweathermap.org/faq#error401
        for more info."}'
  recorded_at: Fri, 28 May 2021 18:34:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely&lat=41.765775&lon=-72.673356&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":41.7658,"lon":-72.6734,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1622240242,"sunrise":1622193633,"sunset":1622247349,"temp":53.55,"feels_like":52.65,"pressure":1015,"humidity":86,"dew_point":49.46,"uvi":0.29,"clouds":90,"visibility":9656,"wind_speed":1.01,"wind_deg":34,"wind_gust":7,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.15}},"hourly":[{"dt":1622239200,"temp":53.55,"feels_like":52.65,"pressure":1015,"humidity":86,"dew_point":49.46,"uvi":0.29,"clouds":90,"visibility":10000,"wind_speed":5.48,"wind_deg":18,"wind_gust":14.63,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"pop":0.7,"rain":{"1h":0.73}},{"dt":1622242800,"temp":52.66,"feels_like":51.76,"pressure":1015,"humidity":88,"dew_point":49.21,"uvi":0.09,"clouds":92,"visibility":4858,"wind_speed":6.62,"wind_deg":21,"wind_gust":16.37,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":1.33}},{"dt":1622246400,"temp":51.53,"feels_like":50.67,"pressure":1016,"humidity":91,"dew_point":48.99,"uvi":0,"clouds":94,"visibility":5487,"wind_speed":7.78,"wind_deg":29,"wind[...]
