---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=&location=Hartford,CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: The AppKey submitted with this request is invalid.
  recorded_at: Fri, 28 May 2021 18:08:52 GMT
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=MAP_API_KEY&location=Hartford,CT
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Fri, 28 May 2021 22:17:21 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Hartford,CT"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Hartford","adminArea5Type":"City","adminArea4":"Hartford
        County","adminArea4Type":"County","adminArea3":"CT","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041676","unknownInput":"","type":"s","latLng":{"lat":41.765775,"lng":-72.673356},"displayLatLng":{"lat":41.765775,"lng":-72.673356},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=MAP_API_KEY&type=map&size=225,160&locations=41.765775,-72.673356|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1192245421"}]}]}'
  recorded_at: Fri, 28 May 2021 22:17:21 GMT
recorded_with: VCR 6.0.0
