---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=WEATHER_API_KEY&exclude=minutely&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-25200,"current":{"dt":1615259621,"sunrise":1615209724,"sunset":1615251567,"temp":51.67,"feels_like":44.6,"pressure":1010,"humidity":25,"dew_point":18.68,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.22,"wind_deg":188,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}]},"hourly":[{"dt":1615258800,"temp":51.67,"feels_like":44.6,"pressure":1010,"humidity":25,"dew_point":18.68,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":3.22,"wind_deg":188,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1615262400,"temp":52.09,"feels_like":44.91,"pressure":1012,"humidity":34,"dew_point":25.45,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.72,"wind_deg":190,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01n"}],"pop":0},{"dt":1615266000,"temp":50.99,"feels_like":44.51,"pressure":1014,"humidity":42,"dew_point":29.12,"uvi":0,"clouds":0,"visibility":10000,"wind_speed":4.34,"wind_deg":208,"weather":[{"id":800,"main":"Clear","description":"clear
        sk[...]
